@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Variables */

/* Global TW  */
@layer base {
  /* * {
    @apply z-10 text-black  font-normal m-0 p-0 box-border;
  } */

  body {
    font-family: "Merriweather", serif;
    background-color: rgb(255 251 235);
    font-family: "Merriweather", serif;
    letter-spacing: 0.02rem;
    /* line-height: 27px; */
  }
/* 
  h1 {
    @apply text-2xl font-bold;
  }
  li {
    @apply p-4;
  }

  p {
    @apply mb-2 text-xl ;
  } */

  /* button {
    @apply bg-gradient-to-r from-[var(--primary-purple)] to-[var(--primary-blue)] py-3 px-7 rounded-3xl min-w-[150px];
  } */
}
